* text=auto eol=lf

*.js text
*.ts text
*.tsx text
*.json text
*.md text
*.yml text
*.yaml text
*.mjs text
*.cjs text

*.png binary
*.jpg binary
*.ico binary
*.svg text

.gitattributes text
.gitignore text
.editorconfig text
